html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

#grid-container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 503px;
    height: 501px;
}




